.App {
  text-align: center;
  line-height: 10px;
}

p{
  line-height: 10px;
  margin: 20px;
}

h1{
  line-height: 80px;
}

form{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
 
}

.routes{
  display:flex;
}

.incomeForm{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px;
  
}

.expenseForm{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px;
}

.expenseTable{
  display: flex;
  align-content: flex-start;
}

.incomeTable{
  display:flex;
}

.wrapper{
 display:flex;
}







